{% extends "view_skeleton.html" %}
{% block title %}DCPs{% endblock %}


{% block content %}
<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h1>Prototype flask restful</h1>
    <h2>DCPs</h2>
      <table class="table-hover table table-responsive">
          <tr>
              <th>
                  Id
              </th>
              <th>
                  Movie
              </th>
              <th>
                  Check result
              </th>
              <th>
                  Copy result
              </th>
              <th>
                  Hash check result
              </th>
          </tr>
          {% for dcp in data %}
          <tr>
              <td>
                  {{dcp["id"]}}
              </td>
              <td>
                  {{dcp.movie.title}}
              </td>
              <td>
                  {{dcp.check_result}}
              </td>
              <td>
                  {{dcp.copy_result}}
              </td>
              <td>
                  {{dcp.check_hash_result}}
              </td>
          </tr>
          {% endfor %}
      </table>
  </div>
</div>
{% endblock %}